/**/*.egg-info
/**/.venv
/**/*.pytest_cache
/**/__pycache__
/**/*.pyo
/**/*.pyd
/**/*.pyc
*.msh
*.s4p
*.s6p
*.gds
*.pth
*.onnx
*.onnx.data
*cache
*.zip
*.csv
/**/testing/
*.sp
*.s*p
*.prn
/**/output/
results/
models/
Cobra_HB/
Ignore/